<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
<!--       <nav class="navbar navbar-default">
 -->         <div class="container">
             <div class="row">
            <nav class="navbar-nav navbar-left">
              <p class="text-white">Bookers</p>
            </nav>
<!--             <nav>
 -->      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>
          <%= link_to user_path(current_user) do %>
          <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</p>
          <% end %>

        </li>
        <li>
          <%= link_to users_path do %>
          <span class="glyphicon glyphicon-user users" aria-hidden="true"> Users</span>
          <% end %>
        </li>
        <li>
          <%= link_to books_path do %>
          <p><span class="glyphicon glyphicon-book books" aria-hidden="true"> Books</span></p>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <p><span class="glyphicon glyphicon-log-out logout" aria-hidden="true"></span> logout</p>
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to root_path do %>
          <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</p>
          <% end %>
        </li>
        <li>
          <%= link_to home_about_path do %>
          <p><span class="glyphicon glyphicon-link" aria-hidden="true"></span> About</p>
          <% end %>
        </li>
        <li>
          <%=link_to new_user_registration_path do %>
          <p><span class="glyphicon glyphicon-edit sign_up" aria-hidden="true"></span> sign up</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
          <p><span class="glyphicon glyphicon-log-in sign_in" aria-hidden="true"> login</span></p>
          <% end %>
        </li>
        <% end %>
      </ul>
<!--     </nav>
 -->    </div>
</div>
<!--   </nav>
 -->  </nav>

  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %> 
    
    <%= yield %>
  </body>
</html>
